*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #E8E8E8;
    font-family: 'Poppins', sans-serif;
}

/* header start */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    margin-bottom: 7%;
}
.container{
    display: flex;
    height: 646px;
    width: 1321px;
    background-color: #161616;
    color: white;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 150px 150px;
}
.header-text h1{
    font-size: 4em;
}
.container:hover .header-text{
    color: gold;
}
.header-text p{
    font-size: 1em;
}
.header-btn{
    margin-top: 8%;
    padding: 16px 28px;
    font-size: 1.5em;
    background-color: #DD0000;
    color: #fff;
    border-radius: 5px;
}

.banner-img img{
    margin-top: 6.50%;
    height: 613px;
    width: 581px;
}

/* header ends */

/* main strat */
main{
    display: flex;
    justify-content: space-evenly;
    
}
.link-section{
    display: flex;
    flex-direction: column;
    height: 312px;
    width: 312px;
    background-color: #161616;
    border-radius: 10px;
    justify-content: center;
    align-items: center;

}
.link-btn{
    display: block;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    color: black;
    padding: 10px 10px;
    background-color: #fff;
    margin-top: 20px;
    text-align: center;
    height: 64px;
    width: 252px;
    border-radius: 15px;
}
.link-btn:active{
    background-color: #DD0000;
    color: #fff;
}
.blog-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}
.card{
    height: 362px;
    width: 312px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;
}
.card-des{
    padding: 15px;
}
.card-des h3{
    margin-top: 5%;
}
.card-btn{
    padding: 5px 15px;
    font-size: 1em;
    font-weight: 600;
}
.card-icon{

    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}
.view-btn{
    margin-top: 8%;
    font-size: 1.5em;
    font-weight: 600;
    padding: 20px 30px;
    background-color: #DD0000;
    color: #fff;
    border: none;
    border-radius: 5px; 
    visibility: hidden;
}
/* main ends */
.footer{
    display: flex;
    height: 444px;
    
    margin-top: 5%;
    background-color: #000;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 4%;
    padding-bottom: 9%;
}

.footer-text{
    display: flex;
    width: 898px;
    justify-content: center;
    gap: 20px;
}
.footer hr{
    width: 1320px;
}
.social-icons{
    font-size: 30px;
    margin-right: 10px;
}
.social-icons a{
    color: white;
}




/* upcoming-macth-section  starts*/
.upcoming-macth-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.upcoming-macth-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.upcoming-macth-cards{
    width: 312px;
    height: 242px;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
}
.upcoming-img{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.upcoming-img img{
    width: 40%;
}
.upcoming-des{
    padding: 10px;
    margin-top: 7%;
    text-align: center;
}
/* upcoming-macth-section  ends*/


/* media query */


/* tap view start */

@media only screen and (max-width: 834px){
    .container{
        height: 398px;
        width: 734px;
        padding: 100px 100px;
        }
        .header-text h1{
            font-size: 2em;
        }
        .header-text p{
            font-size: 12px;
        }
        .header-btn{
            margin-top: 8%;
            padding: 10px ;
            font-size: 12px;
            border: none;
        }
        
        .banner-img img{
            margin-top: 20.5%;
            height: 340px;
            width: 323px;
        }
        main{
            display: flex;
            flex-direction: column;
            
        }
        .link-section{
           height: 0;
           width: 100% ;
           display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 20px;
            padding-left: 15px;
            
        }
        .link-btn{
            display: flex;
            justify-content: center;
        }
        .cards , .upcoming-macth-card{
            margin-top: 15%;
            grid-template-columns: repeat(2,1fr);
        }
        .view-btn{
            visibility: visible;
        }
        .footer{
            width: 100%;
        }
        .footer-text{
           display: grid;
           width: 735px;
           grid-template-columns: repeat(4,1fr);
           gap: 10px;
           padding: 20px;


        }
        .footer hr{
            width: 720px;
        }
}

/* tap view ends */

/* mobile view start */

@media only screen and (max-width: 375px){
    .container{
        height: 473px;
        width: 334px;
        flex-direction: column;
        padding: 22px;
        text-align: center;

    }
    .header-text h1{
        margin-top: 15%;
        font-size: 2em;
    }
    .header-text p{
        font-size: 12px;
            width: 278px; 
            height: 48px; 
            overflow: hidden; 
            text-overflow: ellipsis; 
            white-space: nowrap;
          }
    .header-btn{
        margin-top: 0;
        padding: 10px 25px;
        font-size: 12px;
        border: none;
    }
    
    .banner-img img{
        margin-top: 6.50%;
        height: 245px;
        width: 233px;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .link-section{
        display: flex;
        flex-direction: column;
        height: 312px;
        width: 312px;
        background-color: #161616;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
    
    }
    .cards, .upcoming-macth-card{
        grid-template-columns: repeat(1,1fr);
    }
    .view-btn{
        visibility: hidden;
    }
    .footer-text{
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 12px;
        justify-content: center;
        align-items: center;
    }
    .footer hr{
        width: 335px;
    }  
}
/* mobile view start */